
:root {
    --main-bg-color:black;
    --hover-color: gray;
}

body {
    font-family: Cario, Amiri, monospace;
    direction: rtl;
    background-color: #f2f2f2;
    padding-left: 10;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: var(--main-bg-color);
    color: white;
    margin: -10px -10px 0 -10px;
    padding: 0px 0px 0px 0px;
}

h1 {
    font-size: 25px;
}

#container {
    background-color: #f2f2f2;
    padding: 90px 0px 0px 0px; 
    margin: 0;
}

h2 {
    text-align: center;
    background: white;
    border-radius: 4px ;
    width: 100%;

}

/*
#breif-index-container { 
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

} 

.two-index-container {
    display: flex;
}

*/

.logic-container {
    align-items: center;
    background-color: white;
    border: 1px solid ghostwhite;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}



h3 {
    padding: 0;
    margin: 2%;
    text-align: center;
    width: 100%;
}

.logic-link {
    color: black;
    text-decoration: none;
}

.logic-photo {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}


/* The sidebar menu */
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    background-color: var(--main-bg-color);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
    padding: 8px 10px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--main-bg-color);
    color: white;
    padding: 5px 15px;
    border: none;
}

.openbtn:hover {
    background-color: var(--hover-color);
}

#first-link {
    margin-top: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}